
.signup-page {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
    background-image: url('./pic11.jpeg');  
    background-size: cover;  
    background-position: center;  
  
}

.main-content {
  height: 100%;
  flex-grow: 1;
   
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-form-container {
  width: 40%;  
  max-width: 500px; 
  min-height: 600px;  
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aab7c6;  
  border-radius: 8px;
  margin: auto;  
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 1px solid black;
  position: relative;  
}

.auth-form-container h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  align-items: center;
  top: 10px;
}

.name-field {
  display: flex;
  justify-content: space-between;
}

.name-input {
  margin: 0.5rem auto;
  padding: 1rem 1rem;  
  border: 1px solid #000;  
  border-radius: 5px;
  width: calc(100% - 1rem);  
}
.inputFormField {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-top: 1rem; 
  font-weight: 600;
}

.inputFormField label {
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
  width: 70%;
  font-size: 1rem;
}

.name-field>div {
  width: 40%;
}


.sign-up-btn {
  border: none;
  background-color: rgba(39, 39, 255, 0.41);
  color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  width: 500px;
  font-weight: 50px;
}

.sign-up-btn:hover {
  background-color: blue;  
}

.sign-up-btn:active {
  background-color: blue; 
}

.error-message {
  color: red;
  font-size: 13.5px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-color: black;
}
.inputFormField input {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
  width: 100%;  
  font-size: 1rem;
}